---
layout: archive
title: "2024"
permalink: /teaching/
author_profile: true
---
Poster Presentations

### Detection of neonatal calf diarrhea using suckle pressure
** Date:** June 16–19, 2024
** Conference:** 2024 American Dairy Science Association Annual Meeting
** Location:** West Palm Beach, Florida

### Instance segmentation method for weed detection using UAV imagery in soybean fields
** Date:** July 28-31, 2024
** Conference:** 2024 American Society of Agricultural and Biological Engineers
** Location:** Anaheim, California



<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

