---
layout: archive
permalink: /year-archive/
title: "2024"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
<h2>Call for Abstracts: The 4th International Electronic Conference on Agronomy (2024)</h2>
I am serving on the Conference Committee for the upcoming 4th International Electronic Conference on Agronomy. We are currently accepting abstract submissions. For more information and to submit your abstract, please visit the <a href="https://sciforum.net/event/IECAG2024" style="color: blue; text-decoration: underline;">conference website</a>.</p>
<h2>Call for Papers: Agronomy - Special Issue on Advanced Machine Learning in Agriculture</h2>
I am honored to serve as a Guest Editor for the Agronomy journal's Special Issue titled "Advanced Machine Learning in Agriculture" for the 2023-2025 publication cycle. This issue will explore cutting-edge applications of machine learning and deep learning in agriculture. For more details, visit the <a href="https://www.mdpi.com/journal/agronomy/special_issues/6RO5BDJAZL" style="color: blue; text-decoration: underline;">special issue page</a>.</p>.





<!--{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}-->
