---
layout: archive
permalink: /year-archive/
#title: "2024"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<h2>Conference Committee Service</h2>

<ul>
  <li>Committee Member – <a href="https://sciforum.net/event/IECAG2025" target="_blank" style="color: blue; text-decoration: underline;">The 5th International Electronic Conference on Agronomy (2025)</a></li>
  <li>Track Program Committee – <a href="https://2025.ieee-indin.org/" target="_blank" style="color: blue; text-decoration: underline;">The 23rd IEEE International Conference on Industrial Informatics (INDIN 2025)</a></li>
  <li>Committee Member – <a href="https://sciforum.net/event/IECAG2024" target="_blank" style="color: blue; text-decoration: underline;">The 4th International Electronic Conference on Agronomy (2024)</a></li>
</ul>

<h2>Guest editor for Special Issues</h2>

<ul>
  <li><em>Agronomy</em> – <a href="https://www.mdpi.com/journal/agronomy/special_issues/QMF33SEJW3" target="_blank" style="color: blue; text-decoration: underline;">Next‑Generation Technologies for Digital and Precision Agriculture</a></li>
  <li><em>Agronomy</em> – <a href="https://www.mdpi.com/journal/agronomy/special_issues/M0R69PNZE1" target="_blank" style="color: blue; text-decoration: underline;">Advanced Machine Learning in Agriculture—2nd Edition</a></li>
  <li><em>Agronomy</em> – <a href="https://www.mdpi.com/journal/agronomy/special_issues/32540AX98L" target="_blank" style="color: blue; text-decoration: underline;">Transforming Agriculture Through Industrial Informatics and Emerging Technologies</a></li>
  <li><em>Agriculture</em> – <a href="https://www.mdpi.com/journal/agriculture/special_issues/3M607317P3" target="_blank" style="color: blue; text-decoration: underline;">Computer Vision Analysis Applied to Farm Animals</a></li>
  <li><em>Agronomy</em> – <a href="https://www.mdpi.com/journal/agronomy/special_issues/6RO5BDJAZL" target="_blank" style="color: blue; text-decoration: underline;">Advanced Machine Learning in Agriculture</a></li>
</ul>

<h2>Journal Reviewer</h2>

<ul>
  <li>Computers and Electronics in Agriculture</li>
  <li>Biosystems Engineering</li>
  <li>Journal of Dairy Science</li>
  <li>Frontiers in Animal Science</li>
</ul>




<!--{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}-->
